* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #01454f;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-register {
    width: 400px;
    background: #94242a;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .buttons {
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color: #641115;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-register .buttons:hover {
    text-decoration: underline;
    color:  #641115;
  }


  .form-login {
    width: 400px;
    background: #94242a;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .controls {
    width: 100%;
    background: #94242a;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #641115;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
  }
  
  .form-login .buttons {
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color: #641115;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-login .buttons:hover {
    text-decoration: underline;
    color:  #641115;
  }

  .form-login h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
